.vscode
.idea
.aws
.kube
.bash_history
.config
.rules/
.working/
.aws/
.kube/
.terraform.d
.terraform
*.tfplan
*.tfplan.json

testvenv/

env-local.mk
app/test/docker-compose.yaml
app/test/*.log
app/test/ci.env
app/bk.env

app/cmd/.venv
app/cmd/local.env
app/cmd/.pytest_cache
app/cmd/.coverage
app/cmd/tests/__pycache__
app/cmd/pyapp/api/__pycache__
app/cmd/pyapp/util/__pycache__
app/cmd/pyapp/__pycache__
app/cmd/reports/*
app/cmd/local.db

data/general/client_defaults.json
data/logs
data/clients
data/cache
data/input
