{% extends "layout.html" %}

{% block content %}

<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"> -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

<script>

var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S"), formatShortDate = d3.timeFormat("%Y-%m-%d %H:%M"),formatDate = d3.timeFormat("%Y-%m-%d");

$(document).ready( function () {
    $('#transactions_table').DataTable(
      {
        "bInfo": false,
        "autoWidth": true,
        "bFilter": true,
        "bLengthChange": false,
        "pageLength": 25,
        "order": [[ 1, 'desc' ]],      
        "columnDefs": [
            { "width": "100px", "targets": 1 }
        ]
        //     {
        //         // The `data` parameter refers to the data for the cell (defined by the
        //         // `data` option, which defaults to the column being worked with, in
        //         // this case `data: 0`.
        //         "render": function ( data, type, row ) {
        //             var dt = parseTime(data);
        //             return formatDate(dt)
        //             //return data +' ('+ row[3]+')';
        //         },
        //         "targets": 1
        //     },
        //     {
        //         "render": function ( data, type, row ) {
        //             if ( row[3] == "0%" ) { return ""; }
        //             return row[3]
        //         },
        //         "targets": 3
        //     },
        //     {
        //         "render": function ( data, type, row ) {
        //             if ( row[8] == "0" ) { return ""; }
        //             return row[8]
        //         },
        //         "targets": 8
        //     },
        //     {
        //         "render": function ( data, type, row ) {
        //             if ( row[9] == "0" ) { return ""; }
        //             return row[9]
        //         },
        //         "targets": 9
        //     },
        //     {
        //         "render": function ( data, type, row ) {
        //             avg =  calcAverage(row[8], row[10]);
        //             if (avg == 0 ) { return ""; }
        //             return avg
        //         },
        //         "targets": 7
        //     },
        //     { "visible": false,  "targets": [ 10 ] }
        // ]
      
      });
    //$('#transactions_table').DataTable({"pageLength": 30, "info" : false});
    $("#transactions_table").show();
});

$(document).ready( function () {
  {
    var objSelect = document.getElementById("myform").period;
    var select = "{{ period or '' }}";
    setSelectedValue(objSelect, select);
  }
  {
    var objSelect = document.getElementById("myform").value_lt;
    var select = "{{ value_lt or '' }}";
    setSelectedValue(objSelect, select);
  }
  {
    var objSelect = document.getElementById("myform").value_gt;
    var select = "{{ value_gt or '' }}";
    setSelectedValue(objSelect, select);
  }
  {
    var objSelect = document.getElementById("myform").t_type;
    var select = "{{ t_type or '' }}";
    setSelectedValue(objSelect, select);
  }
});

</script>

<style type=“text/css”>

.noBorder {
    border: 0px;
    padding:0; 
    margin:0;
    border-collapse: collapse;
}
/* .transactions_table.dataTable tbody td {
  vertical-align: middle;
} */
/* .table.dataTable td {
  font-size: 1em;
} */
/* .table.dataTable {
    font-family: tahoma;
    font-size: 13px;
    direction: rtl;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
} */

</style>

<!-- <centre><h2>Transactions</h2></centre> -->

<!-- <div class="col-12">
  <div class="card bg-dark mb-3">
    <div class="card-body"> -->
      <form method="get" _lpchecked="1" id="myform">
        <fieldset>
      <div class="form-group row">
        <!-- <div class="col-3" style="width:100px;">
              <label for="duration" class="form-label">Period</label>
          </div> -->
          <div class="col-3" style="width:170px">
            <div class="form-outline">
              <select class="form-control" name="t_type" onchange="this.form.submit()">
                <option selected>Debit Normal</option>
                <option>Debit Abnormal</option>
                <option>Credit Normal</option>
                <option>Credit Abnormal</option>
              </select>
            </div>
          </div>
          <div class="col-3" style="width:150px">
            <div class="form-outline">
              <select class="form-control" name="period" onchange="this.form.submit()">
                <option>1 Month</option>
                <option>3 Months</option>
                <option>6 Months</option>
                <option selected>12 Months</option>
                <option>24 Months</option>
                <option>All</option>
              </select>
            </div>
          </div>

          <div class="col-2" style="width:120px;padding-top:5px">
              <label for="duration" class="form-label">Less Than</label>
          </div>
          <div class="col-3" style="width:150px">
            <div class="form-outline">
              <select class="form-control" name="value_lt" onchange="this.form.submit()">
                <option selected></option>
                <option>100</option>
                <option>200</option>
                <option>400</option>
                <option>500</option>
                <option>600</option>
                <option>800</option>
                <option>1000</option>
                <option>1500</option>
                <option>3000</option>
              </select>
            </div>
          </div>
          <div class="col-2" style="width:120px;padding-top:5px;">
            <label for="duration" class="form-label">Greater Than</label>
          </div>
          <div class="col-2" style="width:150px">
            <div class="form-outline">
              <select class="form-control" name="value_gt" onchange="this.form.submit()">
                <option selected></option>
                <option>100</option>
                <option>200</option>
                <option>400</option>
                <option>500</option>
                <option>600</option>
                <option>800</option>
                <option>1000</option>
                <option>1500</option>
                <option>3000</option>
              </select>
            </div>
          </div>
        
          <!-- <div class="col-3">
             <button type="submit" class="btn btn-primary" name="action" value="refresh">Refresh</button>
          </div> -->
        </div>
        </fieldset>
        </form>
    <!-- </div>
  </div>
</div> -->

<!-- <form method="get" _lpchecked="1" id="myform">
<fieldset>
<div class="form-group row">
  <div class="col-3" style="width:150px">
    <div class="form-outline">
      <select class="form-control" name="period" onchange="this.form.submit()">
        <option>1 Month</option>
        <option>3 Months</option>
        <option>6 Months</option>
        <option selected>12 Months</option>
        <option>24 Months</option>
        <option>All</option>
      </select>
    </div>
  </div>
</div>
</fieldset>
</form> -->

  
<table id="transactions_table" class="table table-hover table-striped order-column table-condensed dt-responsive nowrap" style="width:100%;font-size:{{ theme.TABLE_FONT_SIZE }};" cellspacing="0" cellpadding="0">
<!-- <table id="transactions_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;font-size:14px;" cellspacing="0" cellpadding="0"> -->
<!-- <table class="ui celled table" id="transactions_table" style="width:100%"> -->
<!-- <table id="transactions_table" class="table table-striped table-bordered" style="width:100%;display:none"> -->
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Class</th>
      <th>Group</th>
      <th>Source</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr class="{{ theme.TABLE_CLASS }}">
      <td style='vertical-align:middle'>{{ transaction[0] }}</td>
      <td style='vertical-align:middle'>{{ transaction[1] }}</td>
      <td style='vertical-align:middle'>{{ transaction[2] }}</td>
      <td style='vertical-align:middle;text-align:right'>{{ transaction[3] }}</td>
      <td style='vertical-align:middle'>{{ transaction[4] }}</td>
      <td style='vertical-align:middle'>{{ transaction[5] }}</td>
      <td style='vertical-align:middle'>{{ transaction[6] }}</td>
      <td style='vertical-align:middle'>{{ transaction[7] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}