# For local development

DATA_FOLDER="C:\\devel\\general\\evander\\data"
ZWO_FOLDER="C:\\devel\\general\\evander\\data\\workouts"
ATHLETE_FOLDER="C:\\devel\\general\\evander\\data\\athletes"

# ENABLE_ACCESS_SECURITY="FALSE"

# ENABLE_SYNC_SERVICE="FALSE"
# ENABLE_REPORT_SERVICE="FALSE"
# ENABLE_WORKOUT_DB="FALSE"

#PORT="8000"
